{% extends "skeleton.html" %}
{% block title %}Login{% endblock title %}
{% block body %}
    {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="messages">
                   {% for i in messages %}
                        <p>{{i}}</p>
                   {% endfor %}
                </div>
            {% endif %}
    {% endwith %}
    <div>
        <form action="#" method="post">
            <p>Ur name</p>
            <p><input type="text" name="nm" id=""></p>
            <p><input type="checkbox" name="remember" id="">Remember Me</p>
            <p><input type="submit" value="Submit"></p>
        </form>
    </div>
{% endblock body %}