{% extends "skeleton.html" %}
{% block title %}Login{% endblock title %}
{% block body %}
    {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="messages">
                   {% for i in messages %}
                        <p>{{i}}</p>
                   {% endfor %}
                </div>
            {% endif %}
    {% endwith %}
    <div>
        <form action="#" method="post">
            <p>Sign Up</p>
            <p><input type="email" name="email" placeholder="Your Email" value="{{email if email}}"></p>
            <p><input type="text" name="username" id="" placeholder="Your Username"></p>
            <p><input type="submit" value="Submit"></p>
        </form>
    </div>
{% endblock body %}